@import '../../../styles/variables';

.techStackItem {
    &__container {
        background-color: $color-black;
        // padding: 400px 0;
        text-align: right;
        padding-right: 40px;

        .textWrapper {
            display: inline-flex;
            margin-bottom: -18px;
            flex-direction: column;
            align-items: flex-end;

            hr {
                width: 100%;
            }
            .text {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                gap: 200px;
                padding-top: 16px;
                padding-bottom: 32px;
                // padding-right: 40px;
                margin-right: 0;

                span:nth-child(2) {
                    font-size: 16px;
                    font-style: italic;
                    color: rgba(255, 255, 255, 0.365);
                    align-self: flex-start;
                    transform: translateY(1.563vw); //25px
                }
                span:nth-child(3) {
                    font-size: 82px;
                    text-transform: uppercase;
                    color: white;
                    width: 33.75vw; //540px
                    white-space: nowrap;
                    overflow: hidden;
                    text-align: left;
                    // text-overflow: ellipsis;
                }
                span:nth-child(4) {
                    display: inline-block;
                    width: 120px;
                    text-transform: uppercase;
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.365);
                    align-self: flex-start;
                    transform: translateY(1.563vw); //25px
                }
                .arrow {
                    align-self: flex-start;
                    transform: translateY(1.563vw); //25px
                }
            }
        }
    }
}

.imageContainer {
    width: 0px;
    height: 140px; /* Фиксированная высота */
    overflow: hidden;
    // transition: width 0.4s;
    position: absolute;
    display: flex;
    // left: 200px;
    left: 0;
    // top: 1.1vw;
    position: absolute;
    // left: 100px;
}

.imageContainer img {
    transition: transform 1.3s;
    // max-width: 100%;
    // height: auto;
}