@import '../../../styles/variables';

.firstText {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        padding: 0vw 4vw; //200px 64px; 1600
        padding-bottom: 35.5vw; //200px; 1600
        padding-top: 12.5vw; //200px; 1600

        div:nth-child(1) {
            display: flex;
            flex-direction: column;
            gap: 2vw; //32px, 1600

            h2 {
                white-space: nowrap;
            }

            p {
                width: 45.625vw; //730px, 1600
            }
        }
        div:nth-child(2) {
            align-self: end;

            p {
                width: 33.125vw; //530px, 1600
                top: 15vw; //240px, 1600
                position: relative;
            }
        }
    }
}

@media (max-width: 768px) {
    .firstText {
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 3.865vw; //16px, 414

            padding: 0vw 4.831vw; //0 20px; 414
            padding-top: 48.309vw; //200px; 414;
            padding-bottom: 48.309vw; //200px; 414;

            div:nth-child(1) {
                display: flex;
                flex-direction: column;
                gap: 4.831vw; //20px, 414

                h3 {
                    white-space: normal;
                }

                p {
                    width: 95%;
                }
            }
            div:nth-child(2) {
                align-self: end;

                p {
                    width: 95%;
                    top: 0;
                }
            }
        }
    }
}
