@import '../../../styles/variables';

@media (min-width: 769px) {
    .bigText {
        &__container {
            background-color: black;
            padding: 0 2.5vw; //0 40px, 1600

            .scrollingText > p > div {
                background: linear-gradient(
                    to right,
                    rgb(255, 255, 255) 50%,
                    rgb(29, 29, 29) 50%
                );
                background-size: 200% 100%;
                background-position-x: 100%;
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                font-kerning: none;
                min-width: 600px;

                font-size: 8.916vw; //142.66px, 1600
                line-height: 110%;
                font-weight: 300;
                letter-spacing: -8px;
            }
        }
    }
}

@media (max-width: 768px) {
    .bigText {
        &__container {
            background-color: black;
            padding: 0 3.865vw; //0 16px, 414

            .scrollingText > p > div {
                background: linear-gradient(
                    to right,
                    rgb(255, 255, 255) 50%,
                    rgb(29, 29, 29) 50%
                );
                background-size: 200% 100%;
                background-position-x: 100%;
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                font-kerning: none;
                max-width: 80%;

                font-size: 11.541vw; //47.78px, 414
                line-height: 100%;
                font-weight: 300;
                letter-spacing: -2px;
            }
        }
    }
}
