.project {
    &__container {
        overflow: hidden;
        padding-top: 15vw; //240px; 1600

        .scrollSection {
            height: 100vh;
            width: 400vw;
            display: flex;
            flex-direction: row;
            position: relative;

            .containerSpan {
                height: 100vh;
                width: 400vw;

                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                z-index: -1;
                white-space: nowrap;

                span {
                    font-size: 600px;
                    font-weight: 700;
                    white-space: nowrap;
                    color: transparent;
                    -webkit-text-stroke: 2px #fff;
                    text-stroke: 2px #fff;
                }
            }
        }
    }
}
