@import '../../../styles/variables';

.blobContainer {
    @media (max-width: 768px) {
        overflow: hidden;
    }
    position: relative;

    .blob {
        background-color: $color-white;
        height: 34vmax;
        aspect-ratio: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        border-radius: 50%;
        background: linear-gradient(
            to right,
            $gradient-first,
            $gradient-second,
            $gradient-third,
            $gradient-fourth
        );

        animation: rotate 6s infinite;
        opacity: 0.65;
        filter: blur(10vmax);
        z-index: 1;
    }

    @keyframes rotate {
        from {
            rotate: 0deg;
        }

        50% {
            scale: 1 1.5;
        }

        to {
            rotate: 360deg;
        }
    }
}
