.projectItem {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .border {
            border: 1px rgba(255, 255, 255, 0.5);
            border-top-style: solid;
            border-bottom-style: solid;
            border-left-style: none;
            border-right-style: none;
            border-radius: 20px;
        }

        .imageContainer {
            img,
            video {
                -webkit-transform: scale(1.03);
                transform: scale(1.03);
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;

                &:hover {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }

            figure {
                overflow: hidden;
                border-radius: 24px;

                @media (max-width: 768px) {
                    overflow: visible;
                }

                img {
                    width: 55vw; //880px; 1600
                    height: 37.5vw; //600px; 1600

                    @media (max-width: 768px) {
                        width: 57.971vw; //240px; 414
                        height: 96.618vw; //400px; 414
                        border-radius: 24px;
                    }
                }
            }
        }

        .textContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }
    }
}
