@import '../../../styles/variables';

.whiteBg {
    &__container {
        // background-color: $color-black;
        min-height: 150vh;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow-x: hidden;
    }

    .image {
        width: 43.75vw;
        height: auto;
    }

    .title {
        position: absolute;
        z-index: 10;
    }

    .questionMark {
        position: absolute;
        // color: $color-black;
        font-size: 32px;
        left: 16.146vw; //310px
        z-index: 10;
    }
}
