@import '../../../styles/variables';

.whiteBg {
    &__container {
        // background-color: $color-white;
        min-height: 150vh;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .image {
    }

    .title {
        position: absolute;
    }

    .questionMark {
        position: absolute;
        color: black;
        font-size: 32px;
        left: 16.146vw; //310px
    }
}
