@import '../../../styles/variables';

.masthead {
    &__container {
        position: relative;
        // background-color: $color-black;
        min-height: 100vh;
        min-width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .svg {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 98vw;
            height: 50vw;

            z-index: 0;
        }

        .scrollCircle {
            position: absolute;
            bottom: 8px;
            // transform: translateY(11.429vw); //360px

            @media (max-width: 768px) {
                transform: translateY(76.429vw);
            }
        }
    }
}
