@import './variables';

.h1 {
    color: $color-white;
    font-size: 5.897vw; //99.07px
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -2px;
    text-align: left;

    @media (max-width: 768px) {
        font-size: 9.616vw; //39.81px
        line-height: 60%;
    }
}

.lineParent {
    overflow: hidden;
    font-kerning: none;
}
