// //svg overlay
// .overlay {
//     position: absolute;
//     width: 100vw;
//     height: 100vh;
//     top: 0;
//     left: 0;
//     z-index: 0;

//     svg path {
//         fill: white;
//     }
// }

.toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    position: absolute;
    top: 0;
    right: 0;
    margin: 2.381vw; //40px
    z-index: 200000;

    border: 1px solid white;
    padding: 12px 24px;
    border-radius: 32px;

    cursor: pointer;

    .menu-span {
        position: relative;

        span {
            font-size: 16px;
            color: white;
            text-transform: uppercase;
        }
    }

    .hamburger {
        position: relative;
        width: 20px;
        height: 20px;
        z-index: 2;

        span {
            display: inline-block;
            width: 20px;
            height: 1.25px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: #ffffff;
            transition: transform 0.25s;

            // &::before {
            //     content: '';
            //     display: inline-block;
            //     position: absolute;
            //     width: 20px;
            //     height: 1.25px;
            //     background: #ffffff;
            //     transform: translateY(-4px);
            //     transition: transform 0.25s;
            // }
        }
    }
}

span.test::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 1.25px;
    background: #ffffff;
    transform: translateY(-4px);
    transition: transform 0.25s;
}

.hamburger.active span {
    transform: rotate(45deg);
    // background: black
}

.hamburger.active span::before {
    top: unset;
    transform: rotate(-90deg);
    // background: black;
}

.menu-items {
    display: flex;
    // position: fixed;
    // top: 0;
    width: 100vw;
    height: 100vh;
    // visibility: hidden;
    opacity: 0;
    overflow: hidden;
    display: none;
    z-index: 1110;

    .menu-container {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 200px;
        // justify-content: space-between;
        align-items: flex-start;
        z-index: 1000;
        overflow: hidden;

        .text {
            text-decoration: none;
            font-size: 99.07px;
            line-height: 140px;
            color: #222222;
            font-weight: 700;
            height: 140px;
            overflow: hidden;
            top: 120px;
            // z-index: 10101010101101010;
        }
    }
}

.text:hover .letter,
.text.play .letter {
    transform: translateY(-100%);
    // z-index: 10101010101101010;
}

.block:last-child {
    color: #9e1bf5;
    // font-size: 72px;
    // background: -webkit-linear-gradient(#eee, #333);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // z-index: 10101010101101010;
}

.letter {
    display: inline-block;
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
    z-index: 10101010101101010;

    &:nth-child(1) {
        transition-delay: 0s;
    }
    &:nth-child(2) {
        transition-delay: 0.03s;
    }
    &:nth-child(3) {
        transition-delay: 0.06s;
    }
    &:nth-child(4) {
        transition-delay: 0.09s;
    }
    &:nth-child(5) {
        transition-delay: 0.12s;
    }
    &:nth-child(6) {
        transition-delay: 0.15s;
    }
    &:nth-child(7) {
        transition-delay: 0.18s;
    }
    &:nth-child(8) {
        transition-delay: 0.21s;
    }
    &:nth-child(9) {
        transition-delay: 0.24s;
    }
    &:nth-child(10) {
        transition-delay: 0.27s;
    }
    &:nth-child(11) {
        transition-delay: 0.3s;
    }
    &:nth-child(12) {
        transition-delay: 0.33s;
    }
}
