@import '../../../styles/variables';

.firstText {
    &__container {
        background-color: $color-black;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 200px 90px;

        div:nth-child(1) {
            display: flex;
            flex-direction: column;
            gap: 2vw; //32px, 1600

            h3 {
                white-space: nowrap;
            }

            p {
                width: 45.625vw; //730px, 1600
            }
        }
        div:nth-child(2) {
            align-self: end;
            p {
                width: 33.125vw; //530px, 1600
                transform: translateY(15vw); //240px, 1600
            }
        }
    }
}

@media (max-width: 768px) {
    .firstText {
        &__container {
            background-color: $color-black;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding: 200px 20px;
            gap: 3.865vw; //16px, 414

            div:nth-child(1) {
                display: flex;
                flex-direction: column;
                gap: 3.865vw; //16px, 414

                h3 {
                    white-space: normal;
                    // word-wrap: break-word;
                    // overflow-wrap: break-word;
                }

                p {
                    width: 95%;
                }
            }
            div:nth-child(2) {
                align-self: end;
                p {
                    width: 95%;
                    transform: translateY(0);
                    // transform: translateY(15vw); //240px, 1600
                }
            }
        }
    }
}
